# AceleraDev Codenation - Semana 03

## Matheus P. Bruder | Analise Exploratória de Dados

### Descrição dos Dados

- ‘id’: Identificador do cliente 
- ‘sobrenome’: Sobrenome do cliente 
- ‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente) 
- ‘estado_residencia’: Estado de residência do cliente 
- ‘genero’: Gênero do cliente 
- ‘nivel_estabilidade’: Nível de estabilidade do cliente 
- ‘saldo_conta’: Saldo disponível na conta do cliente 
- ‘numero_produtos’: Número de produtos que o cliente consome 
- ‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado 
- ‘membro_ativo’: Membro acessa e consome frequentemente

### Importando Pacotes

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('desafio1.csv')

### Inicio da analise basica

In [3]:
aux = pd.DataFrame({'columns': data.columns,
                    'type': data.dtypes})

In [4]:
# DataFrame auxiliar para ver colunas e tipos
aux

                                           columns     type
RowNumber                                RowNumber    int64
id                                              id   object
sobrenome                                sobrenome   object
pontuacao_credito                pontuacao_credito    int64
estado_residencia                estado_residencia   object
genero                                      genero   object
idade                                        idade    int64
nivel_estabilidade              nivel_estabilidade    int64
saldo_conta                            saldo_conta  float64
numero_produtos                    numero_produtos    int64
possui_cartao_de_credito  possui_cartao_de_credito    int64
membro_ativo                          membro_ativo    int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [6]:
data.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [7]:
data.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [8]:
# Existe algum dado nulo?
data.isna().sum()

RowNumber                   0
id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

### Inicio Analise Exploratoria

In [9]:
data.rename(columns = {'possui_cartao_de_credito' : 'pc_credito', 'estado_residencia': 'CEP'}, inplace = True)

In [10]:
df = data[['sobrenome', 'pontuacao_credito', 'CEP', 'genero', 'idade', 'pc_credito']]

In [11]:
df.head()

,sobrenome,pontuacao_credito,CEP,genero,idade,pc_credito
0,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,1
1,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,0
2,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,1
3,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,0
4,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,1

In [12]:
# Quantos estados existem no dataset?
df['CEP'].unique()

array(['SC', 'RS', 'PR'], dtype=object)

### Media, Madiana, Desv. Padrao

In [13]:
# Média de cada estado
df.groupby('CEP')['pontuacao_credito'].mean()

CEP
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [14]:
# Mediana de cada Estado
df.groupby('CEP')['pontuacao_credito'].median()

CEP
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [15]:
# Desvio padrão de cada estado
df.groupby('CEP')['pontuacao_credito'].std()

CEP
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

### Moda

In [16]:
# Quantidade de linhas por estado
df['CEP'].value_counts()

SC    3519
RS    1750
PR    1731
Name: CEP, dtype: int64

In [17]:
# Apenas estado de SC
df_sc = df[df['CEP']=='SC']

# Apenas estado de PR
df_pr = df[df['CEP']=='PR']

#Apenas estado de RS
df_rs = df[df['CEP']=='RS']

In [18]:
# Moda 'pontuacao_credito' em SC
df_sc['pontuacao_credito'].mode()

0    850
dtype: int64

In [19]:
# Moda 'pontuacao_credito' em PR
df_pr['pontuacao_credito'].mode()

0    850
dtype: int64

In [20]:
# Moda 'pontuacao_credito' em RS
df_rs['pontuacao_credito'].mode()

0    850
dtype: int64

### Visualização dos Dados